{
  "root": true,
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": ["eslint:recommended"],
  "plugins": ["unused-imports", "import-newlines"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
			"warn",
			{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
		],
    "max-len": ["error", { "code": 100, "ignoreUrls": true, "ignoreComments": true }],
    "import-newlines/enforce": [
      "error",
      4,
      100
    ],
    "indent": ["error", 2],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "never"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }]
  }
}
